body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-image: url("background.jpg");*/
  background-color: #eee;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url("/background.jpg") no-repeat center center fixed;
  height: 1200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.date-filter {
  margin-bottom: 10px;
  font-family: "helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgb(90,90,90);
}
.form-signin .form-signin-heading, h1,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-family: "helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: rgb(90,90,90);
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#tickboxdiv {
  font-family: "helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: rgb(90,90,90);
}

.table-fixed{
  width: 100%;
  overflow-y: auto;
}
